:root {
  font-family: 'Madimi One';
}

.container__filtros {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 30%;
}

.filtros__cabecalho {
  top: 0;
  left: 0;
  padding: 20px 0;
  width: 95%;
  
  .cabecalho__icon_titulo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 32px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}

.icon__btn{
  cursor: pointer;
}

.icon__arrow {
  height: 40px;
  rotate: 90deg;
  stroke: black;
  flex-shrink: 0;
}

.cabecalho__divisor {
  background-color: var(--color-primary-user);
  width: 100%;
  height: 3px;
  margin-bottom: 15px;
}

.filtros__conteudos {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 95%;
}

.filtros__atracoes,
.filtros__localizacao,
.filtros__acessibilidade_inclusao {
  width: 95%;
}

.atracoes__titulo,
.localizacao__titulo,
.acessibilidade__titulo {
  font-size: 22px;
  text-align: start;
  margin-bottom: 15px;
  width: 100%;
}

.atracoes__conteudo,
.localizacao__conteudo,
.acessibilidade__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  width: 95%;
}