.container {
    .title{
        z-index: 2;
        font-size: 5rem;
        
    }

    .backgroundTitle{
        background-image: url('../../assets/images/city/img_bg_tatui.png');

        @media (min-width: 693px) {
            background-size: cover;
        }

        .overlay{
            padding: 6.3vh 0;
            position: relative;
            box-shadow: inset 0 -4px 20px rgb(0, 0, 0, 0.25);

            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                inset: 0;
                backdrop-filter: blur(4px);

                -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 75%);
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: cover;
                mask-image: linear-gradient(to bottom, black 0%, transparent 75%);
                mask-repeat: no-repeat;
                mask-size: cover;
                pointer-events: none;
            }
        }
    }

    .content {
        margin: 5.2vh auto 0;
    }
}