.container {
    .backgroundTitle{
        background-image: url('../../assets/images/city/img_bg_tatui.png');
        background-size: auto 115%;

        .overlay{
            padding: 6.3vh 0;
            position: relative;
            background-color: rgba(255, 255, 255, 0.2);
//   backdrop-filter: blur(10px);

  // pseudo-elemento com gradiente
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);

    // aplica gradiente como máscara → blur progressivo
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
    pointer-events: none;
  }

            .title{
                font-size: 5rem;
                color: #fff;
            }
        }
    }

    .content {
        margin: 5.2vh 0 0;
    }
}