.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .backgroundTitle{
        height: 63vh;
        width: 900px;
        overflow: hidden;

        border-radius: 0 0 500px 500px;
        background-image: url('../../assets/images/city/img_bg_tatui.png');
        background-size: auto 115%;
        background-position: center;
        background-repeat: no-repeat;

        .overlay{
            height: 100%;
            width: 100%;
            padding: 6.3vh 0;
            background-color: rgba(179, 179, 179, 0.2);
            display: flex;
            justify-content: center;

            .title{
                font-family: 'Madimi One', sans-serif;
                font-weight: 700;
                font-size: 5rem;
                color: #fff;
            }
        }
    }

    .content {
        width: 90.1vw;
        margin: 5.2vh 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.2vh;
    }
}