.container__box{
    background-color: #FFFFCD;
    border: 1px solid #FFEE71;
    text-align: left;
    .label{
        color: #FF7022;
        font-weight: 600;
    }
    .text{
        color: black;
    }
}