.container__box{
    background-color: #FFFFCD;
    border: 1px solid #FFEE71;
    text-align: left;
    .label{
        color: var(--color-primary-user);
        font-weight: 600;
    }
    .text{
        color: var(--color-dark);
    }
}