.icon {
    width: 200px;
    height: 200px;
}

.title {
    font-size: 2.5rem;
    color: #47e417;
}

.content {
    font-family: 'Rubik', sans-serif;
    p {font-size: 1.5rem;}
    h3 {
        font-size: 2rem; 
        font-weight: 500;
        color: #ff7022;
    }
}

.rating {
    .text {
        font-family: 'Rubik', sans-serif;
        font-size: 1.5rem;
        color: #a0a0a0;
    }
}