:root {
  font-family: 'Madimi One';
}

.container__filtros {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  max-width: 600px;
  margin: 0 auto;
}

.filtros__cabecalho {
  top: 0;
  padding: 0px 0 10px;
  
  .cabecalho__icon_titulo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 32px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}

.icon__arrow {
  height: 40px;
  rotate: 90deg;
  stroke: black;
}

.cabecalho__divisor {
  background-color: #FF7022;
  width: 100%;
  height: 3px;
  margin-bottom: 15px;
}

.filtros__conteudos {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.atracoes__titulo,
.localizacao__titulo,
.acessibilidade__titulo {
  font-size: 22px;
  text-align: start;
  margin-bottom: 15px;
}

.atracoes__conteudo,
.localizacao__conteudo,
.acessibilidade__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

