.icon {
  &.fill {
    path {fill: rgba(204, 204, 204);}
  }
  &.stroke {
    path {stroke: rgba(204, 204, 204);}
  }
}

[data-admin="false"] .fillActive {
  .icon {
    &.fill { path { fill: rgb(255, 112, 34); } }
    &.stroke { path { stroke: rgb(255, 112, 34); } }
  }
}

[data-admin="true"] .fillActive {
  .icon {
    &.fill { path { fill: rgb(34, 156, 255); } } // cor alternativa
    &.stroke { path { stroke: rgb(34, 156, 255); } }
  }
}