.icon {
  &.fill {
    path {fill: rgba(204, 204, 204);}
  }
  &.stroke {
    path {stroke: rgba(204, 204, 204);}
  }
}

[data-admin="false"] .fillActive, [data-guia="false"] .fillActive {
  .icon {
    &.fill { path { fill: var(--color-primary-user); } }
    &.stroke { path { stroke: var(--color-primary-user); } }
  }
}

[data-admin="true"] .fillActive {
  .icon {
    &.fill { path { fill: var(--color-primary-admin); } }
    &.stroke { path { stroke: var(--color-primary-admin); } }
  }
}

[data-guia="true"] .fillActive {
  .icon {
    &.fill { path { fill: var(--color-primary-guia); } }
    &.stroke { path { stroke: var(--color-primary-guia); } }
  }
}

.pin {
  width: 35px;
  height: 35px;
  path {
    stroke-width: 2.5;
    fill: none;
  }
}