.geolocation {
  p {
    font-size: 20px;
  }

  .icon {
    width: 35px;
    height: 35px;
    & > path {
      fill: #FFF;
      stroke-width: 3px;
      stroke: var(--color-primary-user);
    }

    &.arrowIcon {
      & > path {
        stroke: #000;
      }
    }
  }

  .dropdown {
    .plus {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      & > path {
        fill: #00000075;
      }
    }
  }

  .modal {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
  }
}
