.stepper {
  width: 360px;
  height: 66px;
  overflow: auto;

  .step {
    border-color: var(--color-primary-user);
    color: var(--color-primary-user);
    font-weight: 500;
    height: 40px;
    min-width: 40px;
  
    .icon {
      & > svg {
        & > path {
          fill: var(--color-primary-user);
        }
      }
    
      &.pin {
        width: 24px;
        height: 24px;
        fill: var(--color-primary-user);
      }
    }

    .completed {
      color: var(--color-light);

      &.icon {
        & > svg {
          & > path {
            fill: var(--color-light);
          }
        }
      }
    }
  }
  
  .line {
    margin: 0 5px;
    border-top: 2px dotted var(--color-primary-user);
  }
}