.arrow {
    width: 50px;
    height: 50px;
    rotate: 90deg;
    path {
        stroke: #000;
    }
}

.arrow__input {
    width: 20px;
    height: 20px;
    path {
        stroke: #ff6900;
    }
}

.pin {
    width: 90px;
    height: 90px;
    opacity: 0.7;
}

.link{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
    text-decoration: underline;
}

.form{
    font-family: 'Rubik', sans-serif;
    h2 {
        font-family: 'Madimi One', sans-serif;
    }
}

.checkbox {
    label {
        font-weight: bold;
        input[type="checkbox"] { 
            width: 25px;
            height: 25px;
            accent-color: #ff7022; 
        }
    }
}