div {
  p {
    span {
      color: #FF7022;
      font-weight: bold;
    }
  }
}

.header{
  background-image: url('/images/places/img_bg_sitio-carrocao.png');
  box-shadow: 0 3px 3px rgb(0, 0, 0, 0.25);

  overflow: hidden;
  .overlay {
    position: relative;
    background-color: rgb(0, 0, 0, 0.25);

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      backdrop-filter: blur(4px);

      -webkit-mask-image: linear-gradient(to top, black 0%, transparent 50%);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-image: linear-gradient(to top, black 0%, transparent 50%);
      mask-repeat: no-repeat;
      mask-size: cover;
      pointer-events: none;
    }
    .top{
      .arrow{
        transform: rotate(90deg);
        width: 40px;
        height: 40px;
      }

      .expand{
        width: 35px;
        height: 35px;
      }
    }

    .bottom {
      .warningVerification {
        font-size: 1rem;
        font-family: 'Rubik', sans-serif;
      }
      .title {
        font-size: 2.5rem;
      }
    }
  }

  .icon {
    path {
      stroke: #FFFFFF;
    }
  }
}

.content{
  font-family: 'Rubik', sans-serif;
}