.button{
    height: var(--height);
    width: var(--width);
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: var(--position-text, center);
    align-items: center;

    .button__icon{
        margin-left: 20px;
        margin-right: 10px;
    }
    
}

.button__title{
    color: var(--color-text, black);
    font-size: 20px;
}

.button__adm{
    background-color: var(--bg-color, #229CFF);
    color: var(--color-icon);
    outline: 2px solid #229CFF;
    box-shadow: 0 6px 0 var(--color-sombra, #0073D2), 0 0 0 2px var(--bg-color, #229CFF);
}

.button__user_comum{
    background-color: var(--bg-color, #FF7022);
    color: var(--color-icon, #FFFFFF);
    outline: 2px solid #FF7022;
    box-shadow: 0 6px 0 var(--color-sombra, #EE5313), 0 0 0 2px var(--bg-color, #FF7022);
}