.card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: white;
}

.blur__overlay, .opacity__overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.blur__overlay {
  backdrop-filter: blur(1px);
}


.content {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 8px;

  &.top {
    top: 8px;
    left: 8px;
    text-align: left;
  }

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &.bottom {
    bottom: 8px;
    left: 8px;
    text-align: left;
  }
}

.title {
  font-size: 20px;
  width: var(--width-text);
  text-align: var(--position-text);
    display: inline-block;
}

.footer {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.rating {
  font-size: 16px;
  background: #FFFFFF;
  padding: 2px 6px;
  border-radius: 50px;
  color: var(--color-primary-user);
  font-weight: bold;
  display: flex;
  justify-content: center;

  .icon__star{
    margin-right: 3px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 2px 8px;
  font-size: 16px;
  border: 1px solid #FFFF;
}
