div {
  p {
    span {
      color: #FF7022;
      font-weight: bold;
    }
  }
}

.header{
  box-shadow: 0 3px 3px rgb(0, 0, 0, 0.25);

  overflow: hidden;
  .overlay {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      backdrop-filter: blur(4px);

      -webkit-mask-image: linear-gradient(to top, black 0%, transparent 25%);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-image: linear-gradient(to top, black 0%, transparent 25%);
      mask-repeat: no-repeat;
      mask-size: cover;
      pointer-events: none;
    }
    .top{
      .arrow{
        transform: rotate(90deg);
        width: 40px;
        height: 40px;
      }

      .pin{
        width: 35px;
        height: 35px;
        path{
          fill:none;
          stroke-width: 3px;
        }
      }
    }

    .bottom {
      .warningVerification {
        .text {
          font-size: 1rem;
          font-family: 'Rubik', sans-serif;
          font-weight: bold;
        }

        .verify{
          width: 30px;
          height: 30px;
          path{
            stroke: #47E417;
          }
        }
      }
      .title {
        font-size: 2.5rem;
      }
      .heart{
        width: 40px;
        height: 40px;
        &.fill{
          fill: #ff7518;
          path{
            stroke: #ff7518;
          }
        }
      }
    }
  }

  .icon {
    path {
      stroke: #FF7022;
    }
  }
}

.content{
  font-family: 'Rubik', sans-serif;

  .contact {
    .chat {
      width: 24px;
      height: 24px;
    }
  }

  .item {
    .number{ 
      border-radius: 100%;
      font-size: 1rem;
      font-weight: 500;
      color:#FF7022;
      background-color: #FFF;
      border: 1px solid #FF7022;
  
      &::before {
        content: "";
        display: block;
        border: 1px dashed #FF7022;
        position: absolute;
        top: 140%;
        height: 55px;
      }
  
    }

    &:first-child {
      .number {
        color:#FFF;
        background-color: #FF7022;
      }
    }

    &:last-child {
      .number {
        &::before {display: none;}
      }
    }
  }
}